

html, body {
  padding: 10px;
  background-color: LightSteelBlue;
  font-family: arial;
}


.wrapper {
  background-color: grey;
}

.accountSection {
  /* border: 2px solid purple;
  border-radius: 5px; */
}

.transactionSection {
  /* border: 2px solid purple;
  border-radius: 5px; */
}

.rightSection {
  /* border: 2px solid purple;
  border-radius: 5px; */
}




.accountSection > .accountHeader {
  background-color: green;
  font-size: large;
  font-weight: bold;
}

.accountSection {
/*   border-radius: 3px; */
  background-color: cornflowerblue;

}

.account > * {

/*   border: 3px solid purple;
  border-radius: 2px; */
  background-color: transparent;
}

.deleteAccount > input[type="button"] {
  color: red;
}


.deleteTransaction > input[type="button"] {
  color: red;
}


form.addAccount label[for="newAccount"] {
}









.transactionSection > .transactionHeader {
  background-color: green;
  font-size: large;
  font-weight: bold;
}

.transactionSection {
  background-color: lightcoral;
}




.transaction {
/*   border-radius: 3px; */
  background-color: transparent;

}

.transaction > * {

/*   border: 3px solid purple;
  border-radius: 2px; */
  background-color: transparent;
}

div.transactionNames > * {
  border: 1px solid black;
  border-radius: 3px;
}
